[submodule "inventory-service"]
	path = inventory-service
	url = git@github.com:Gmatieso/inventory-service.git
[submodule "order-service"]
	path = order-service
	url = git@github.com:Gmatieso/order-service.git
